{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='notes/add_note.css') }}">
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view'), ('Graph', '/notes/graph')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
{% if note_id %}
    <div class="alert success hover" onclick=openNote("{{ note_id }}")> Note '{{ note_id }}' successfully inserted. </div>
{% endif %}

{% if titles %}
    <div class="form">
        <form action="/notes/add" method="POST">
            <fieldset class="add-note-fieldset">
            <legend class="add-note-legend"> Add note </legend>
            <input class="input input-datalist" list="books" placeholder="Choose a material" name="material_id" value="{{ material_id }}" title="ID of the material">
            <datalist id="books">
                {% for material_id, title in titles | dictsort(by='value') %}
                    <option value="{{ material_id }}"> «{{ title }}»
                {% endfor %}
            </datalist>
            {% set page_number = 'page number' %}
            {% set chapter_number = 'chapter number' %}
            {% if material_type == 'lecture' %}
                {% set page_number = 'minute' %}
            {% elif material_type == 'course' %}
                {% set chapter_number = 'block number' %}
                {% set page_number = 'lecture number' %}
            {% endif %}
            <textarea class="input altch" id="input-content" placeholder="Enter a content" name="content" title="Text of the note">{{ content }}</textarea>
            <input class="input" type="number" placeholder="Enter a {{ chapter_number }}" name="chapter" value="{{ chapter }}" title="{{ chapter_number.capitalize() }} where the note might be found">
            <input class="input" type="number" placeholder="Enter a {{ page_number }}" name="page" value="{{ page }}" title="{{ page_number.capitalize() }} where the note might be found">
            <button type="submit" class="submit-button celebrate-btn"> Add </button>
        </fieldset>
        </form>
    </div>

    <div class="voice-record">
        <div class="submit-button div-btn" id="start"> Start </div>
        <div class="submit-button div-btn" id="stop"> Stop </div>
    </div>

    <script src="{{ url_for('static', path='js/celebrate.js')}}"></script>
    <script src="{{ url_for('static', path='js/notes.js')}}"></script>

    {% if tags %}
    <ul class="tags-list" title="Note tags">
        {% for tag in tags %}
            <li onclick="addTag('#{{ tag }}')" value="{{ tag }}"> #{{ tag }} </li>
        {% endfor %}
    </ul>
    {% endif %}
{%- else -%}
    {% import 'errors/not_found.html' as not_found %}
    {% call not_found.not_found('materials') %} {% endcall %}
{% endif %}

{% endblock main %}
