{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', path='notes/notes.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view'), ('Graph', '/notes/graph')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
    <div class="form">
        <form action="/notes/graph" method="GET">
            <input class="input" list="books" name="material_id" value="{{ material_id or '' }}" placeholder="Choose a material">
            <datalist id="books">
                {% for material_id, title in titles | dictsort(by='value') %}
                    <option value="{{ material_id }}"> «{{ title }}»
                {% endfor %}
            </datalist>
            <button type="submit" class="submit-button"> Search </button>
        </form>
    </div>
<iframe srcdoc="{{ graph }}" class="network"></iframe>
{% endblock main %}
