{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', path='notes/notes.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view'), ('Graph', '/notes/graph?material_id=' + material_id | safe)) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

{% if titles %}
    <div class="form">
        <form action="/notes" method="GET">
            <input class="input" list="books" name="material_id" value="{{ material_id or '' }}" placeholder="Choose a material">
            <input class="input" name="query" value="{{ query or '' }}" placeholder="Enter a query">
            <input class="input" list="tags" name="tags_query" value="{{ tags_query or '' }}" placeholder="Enter tags">
            <datalist id="books">
              {% for material_id, title in titles | dictsort(by='value') %}
                  <option value="{{ material_id }}"> «{{ title }}»
              {% endfor %}
          </datalist>
            <datalist id="tags">
                {% for tag in tags %}
                    <option value="{{ tag }}"> #{{ tag }}
                {% endfor %}
            </datalist>
          <button type="submit" class="submit-button"> Search </button>
        </form>
    </div>
{% endif %}

{% if chapters %}
{#    TODO: divided endpoint to create a menu #}
    <div class="menu">
    <details class="menu">
        <summary> Menu </summary>
        <div class="menu-items">
        {% for material_id, chapters in chapters | dictsort %}
            {% set chapter_name = 'Chapter' %}
            {% if material_types[material_id] == 'course' %}
                {% set chapter_name = 'Block' %}
            {% endif %}
            <div class="material-link">
            <details open class="chapters">
                <summary> <a class="title-link" href="#material-{{ material_id }}"> «{{ titles.get(material_id, "Without material") }}» </a> </summary>
                <div class="chapters">
                    {% for chapter in chapters | sort %}
                        <a class="chapter-link" href="#material-{{ material_id }}-chapter-{{ chapter }}"> {{ chapter_name }} {{ chapter }} </a>
                    {% endfor %}
                </div>
            </details>
            </div>
        {% endfor %}
        </div>
    </details>
    </div>
{% endif %}

<div class="form pagination">
    {% set range_start = 1 %}
    {% set range_stop = 11 %}
    {% if current_page > 5 %}
        {% set range_start = current_page - 4 %}
        {% set range_stop = current_page + 6 %}
        <div class="pagination-item hover"> « </div>
    {% endif %}
    {% for page in range(range_start, range_stop) %}
        <div class="pagination-item hover {% if page == current_page %} current-page {% endif %}">{{ page }}</div>
    {% endfor %}
    <div class="pagination-item hover"> » </div>
</div>

{% if notes %}
    {% set length = notes | length %}
    {% set index = namespace(value=1) %}

    {% for material_id, notes_m in notes | sort(attribute='page') | groupby('material_id') %}
    {% if not loop.first %}
        <hr class="material_divider">
    {% endif %}

    {% set page_name = 'Page' %}
    {% set chapter_name = 'Chapter' %}
    {% if material_types[material_id] == 'lecture' %}
        {% set page_name = 'Minute' %}
    {% elif material_types[material_id] == 'course' %}
        {% set chapter_name = 'Block' %}
        {% set page_name = 'Lecture' %}
    {% endif %}

    <div class="group">
    {% set notes_count = material_notes.get(material_id, notes_m | length) %}
        <h3 class="material_title" id="material-{{material_id}}"> «{{ titles.get(material_id, "Without material") }}» ({{ notes_count }})</h3>

        {% for chapter, note_c in notes_m | groupby('chapter') %}
            <h4 class="chapter_number" id="material-{{material_id}}-chapter-{{chapter}}"> {{ chapter_name }}: {{ chapter }} </h4>
            {% for note in note_c %}
            <div class="note hover" id="{{ note.note_id }}">
{#              TODO #}
                <p class="little-text"> {{ (current_page - 1) * page_size + index.value }} / {{ notes_count }}</p>
                <p class="little-text note-id-row hover"> Note id: {{ note.note_id }} </p>
                {% if note.title %}
                    <p class="note-title large-text"> «{{ note.title }}» </p>
                {% endif %}
                <p class="note-content"> {{ note.content_html | safe }} </p>
                {% if note.tags %}
                    <p class="note-content"> {{ note.tags_html | safe }} </p>
                {% endif %}
                {% if note.link_id %}
                    <p class="note-content link-ref"> {{ note.link_html | safe }} </p>
                {% endif %}
                <p class="note-page"> {{ page_name }}: {{ note.page }} </p>
                <p class="medium-text" title="How many notes link to this one"> Links count: {{ note.links_count }} </p>
            </div>

            {% set index.value = index.value + 1 %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endfor -%}

    {% from 'arrows.html' import arrows %}
    {% call arrows() %}
    {% endcall %}
{%- else -%}
    {% import 'errors/not_found.html' as not_found %}
    {% call not_found.not_found('notes') %} {% endcall %}
{% endif %}
<script src="{{ url_for('static', path='js/notes.js')}}"></script>
{% endblock main %}
