{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='notes/add_note.css') }}">
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view'), ('Graph', '/notes/graph')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
{% if success is true %}
    <div class="alert success"> Note '{{ note_id }}' successfully updated. </div>
{% elif success is false %}
    <div class="alert error"> Note '{{ note_id }}' updating failed. </div>
{% endif %}

<div class="form">
    <form action="/notes/update" method="POST">
        <fieldset class="add-note-fieldset">
        <legend class="add-note-legend"> Update note </legend>
        <input id="input_material_id" class="input input-datalist" list="books" name="material_id" value="{{ material_id }}" title="ID of the material" placeholder="Choose a material">
        <datalist id="books">
            {% for material_id, title in titles | dictsort(by='value') %}
                <option value="{{ material_id }}"> «{{ title }}»
            {% endfor %}
        </datalist>
        <input class="input input-datalist" name="note_id" value="{{ note_id }}" title="ID of the note" placeholder="ID of the note">
        <input class="input" placeholder="Enter a title" name="title" value="{{ title }}" title="Title of the note">
        <textarea class="input altch" id="input-content" placeholder="Enter a content" name="content" title="Text of the note">{{ content }}</textarea>
        {% set page_number = 'page number' %}
        {% set chapter_number = 'chapter number' %}
        {% if material_type == 'lecture' %}
            {% set page_number = 'minute' %}
        {% elif material_type == 'course' %}
            {% set chapter_number = 'block number' %}
            {% set page_number = 'lecture number' %}
        {% endif %}
        <input class="input" type="number" placeholder="Enter a {{ chapter_number }}" name="chapter" value="{{ chapter }}" title="{{ chapter_number.capitalize() }} where the note might be found">
        <input class="input" type="number" placeholder="Enter a {{ page_number }}" name="page" value="{{ page }}" title="{{ page_number.capitalize() }} where the not might be found">
        <button type="submit" class="submit-button"> Save </button>
    </fieldset>
    </form>
</div>

    <div class="voice-record">
        <div class="submit-button div-btn" id="start"> Start </div>
        <div class="submit-button div-btn" id="stop"> Stop </div>
    </div>

{% if possible_links %}
    <ul class="links-list" title="Note links">
        {% for link in possible_links %}
            <li title="{{ link.info }}" onclick="addTag('[[{{ link.note_id  }}]]',true)" value="'[[{{ link.note_id  }}]]'"> {{ link.short_content }} </li>
        {% endfor %}
    </ul>
{% endif %}

{% if tags %}
<ul class="tags-list" title="Note tags">
    {% for tag in tags %}
        <li onclick="addTag('#{{ tag }}')" value="#{{ tag }}"> #{{ tag }} </li>
    {% endfor %}
</ul>
{% endif %}

<script src="{{ url_for('static', path='js/notes.js')}}"></script>
{% endblock main %}
