{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='notes/add_note.css') }}">
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view'), ('Graph', '/notes/graph')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
{% if success is true %}
    <div class="alert success"> Note '{{ note_id }}' successfully updated. </div>
{% elif success is false %}
    <div class="alert error"> Note '{{ note_id }}' updating failed. </div>
{% endif %}

<div class="form">
    <div class="to-link">
    {% if note_links.to %}
        <div class="note-link" onclick=openNote("{{ note_links.to.note_id }}","_self") title="{{ note_links.to.info }}"></div>
    {% endif %}
    </div>

    <form action="/notes/update" method="POST">
        <fieldset class="add-note-fieldset">
        <legend class="add-note-legend"> Update note </legend>
        <input class="input input-datalist hide" name="material_id" value="{{ material_id }}" title="ID of the material">
        <input class="input input-datalist" name="note_id" value="{{ note_id }}" title="ID of the note">
        <textarea class="input altch" id="input-content" placeholder="Enter a content" name="content" title="Text of the note">{{ content }}</textarea>
        {% set page_number = 'page number' %}
        {% set chapter_number = 'chapter number' %}
        {% if material_type == 'lecture' %}
            {% set page_number = 'minute' %}
        {% elif material_type == 'course' %}
            {% set chapter_number = 'block number' %}
            {% set page_number = 'lecture number' %}
        {% endif %}
        <input class="input" type="number" placeholder="Enter a {{ chapter_number }}" name="chapter" value="{{ chapter }}" title="{{ chapter_number.capitalize() }} where the note might be found">
        <input class="input" type="number" placeholder="Enter a {{ page_number }}" name="page" value="{{ page }}" title="{{ page_number.capitalize() }} where the not might be found">
        <button type="submit" class="submit-button"> Save </button>
    </fieldset>
    </form>
    <div class="from-links">
    {% for link in note_links.from %}
        <div class="note-link" onclick=openNote("{{ link.note_id }}","_self") title="{{ link.info }}"> From </div>
    {% endfor %}
    </div>
</div>

    <div class="voice-record">
        <div class="submit-button" id="start"> Start </div>
        <div class="submit-button" id="stop"> Stop </div>
    </div>

{% if show_links_graph %}
    <iframe src="/notes/links?note_id={{ note_id }}" class="iframe"></iframe>
{% endif %}

{% if links %}
    <ul class="links-list" title="Note links">
        {% for link in links %}
            <li title="{{ link.info }}" onclick="addTag('[[{{ link.note_id  }}]]')" value="'[[{{ link.note_id  }}]]'"> {{ link.short_content }} </li>
        {% endfor %}
    </ul>
{% endif %}

{% if tags %}
<ul class="tags-list" title="Note tags">
    {% for tag in tags %}
        <li onclick="addTag('#{{ tag }}')" value="#{{ tag }}"> #{{ tag }} </li>
    {% endfor %}
</ul>
{% endif %}

<script src="{{ url_for('static', path='js/notes.js')}}"></script>
{% endblock main %}
