DB_HOST=tracker-db
DB_PORT=5432
DB_NAME=tracker
DB_USERNAME=docker
DB_PASSWORD=docker

API_PORT=8001
API_DEBUG=false

LOGGER_NAME=ReadingTracker
LOGGER_LEVEL=debug

DRIVE_CREDS='{}'

MANTICORE_MYSQL_HOST=tracker-search
MANTICORE_MYSQL_PORT=9306
MANTICORE_MYSQL_DB_NAME=Manticore
