{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', path='cards/cards_list.css') }}">
<script src="{{ url_for('static', path='js/notes.js')}}"></script>
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Cards list', '/cards/list'), ('Add card', '/cards/add-view')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
{%- if cards -%}
    <p class="total-cards"> Total {{ total }} cards </p>
    {% for card in cards %}
        <div class="card hover" id="card-{{ card.card_id }}">
            <p class="question"> {{ card.question }} </p>
            <hr class="question-divider"/>
            <details class="answer">
                <summary class="answer"> Show answer </summary>
                {%- if card.answer -%}
                <p class="answer">{{ card.answer }}</p>
                {%- endif -%}
                <p class="answer note-answer"> {{ card.note_content }} </p>
                <p class="txt material-title"> «{{ card.material_title }}» </p>
                <p class="txt material-page"> Page: {{ card.note_page }} </p>
                <p class="txt note-id" onclick=openNote("{{ card.note_id }}","_blank")> Note ID: {{ card.note_id }} </p>
            </details>
        </div>
    {% endfor %}
{%- else -%}
    {% import 'errors/not_found.html' as not_found %}
    {% call not_found.not_found('cards') %} {% endcall %}
{% endif %}
{% endblock main %}
