{% extends 'index.html' %}

{%- block style -%}
    <link rel="stylesheet" href="{{ url_for('static', path='system/system.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Graphics', '/system/graphics'), ('Backup', '/system/backup'), ('Restore', '/system/restore')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}

{% if status == 'ok' %}
    <div class="alert success status">
        <p> Success! Backup was created successfully.
            ({{ materials_count }} materials, {{ logs_count }} logs, {{ statuses_count }} statuses, {{ notes_count }} notes,
            {{ cards_count }} cards, {{ repeats_count }} repeats, {{ repeats_history_count }} note repeats)
        </p>
    </div>
{% elif status == 'backup-failed' %}
    <div class="alert error status">
        <p> Error! Backup failed. </p>
    </div>
{% endif %}

{% endblock main%}
