{% extends 'index.html' %}

{%- block style -%}
    <link rel="stylesheet" href="{{ url_for('static', path='system/system.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Graphics', '/system/graphics'), ('Backup', '/system/backup'), ('Restore', '/system/restore')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}

    <div class="form">
        <form action="/system/graphic" method="GET">
            <input class="input" list="reading_materials" name="material_id" value="{{ material_id }}" placeholder="Choose a material">
            <datalist id="reading_materials">
                {% for material_id, title in titles | dictsort(by='value') %}
                    <option value="{{ material_id }}"> «{{ title }}»
                {% endfor %}
            </datalist>
            <input class="input" type="number" placeholder="Enter a count of days" name="last_days" value="{{ last_days }}" title="Show last n days">
            <button type="submit" class="submit-button"> Show </button>
        </form>
    </div>

    <div class="graphic-image reading-graphic">
        <img src="data:image/png;base64,{{ graphic_image }}">
    </div>

    <div class="graphic-image trend reading-trend">
        <h3 class="header"> Read pages </h3>
        <img src="data:image/png;base64,{{ reading_trend_image }}">

        <div class="statistics">
            <p> Total: {{ reading_trend.total }} </p>
            <p> Mean: {{ reading_trend.mean }} </p>
            <p> Median: {{ reading_trend.median }} </p>
            <p> Max: {{ reading_trend.max }} </p>
            <p> Min: {{ reading_trend.min }} </p>
        </div>
    </div>

    <div class="graphic-image trend notes-trend">
        <h3 class="header"> Inserted notes </h3>
        <img src="data:image/png;base64,{{ notes_trend_image }}">

        <div class="statistics">
            <p> Total: {{ notes_trend.total }} </p>
            <p> Mean: {{ notes_trend.mean }} </p>
            <p> Median: {{ notes_trend.median }} </p>
            <p> Max: {{ notes_trend.max }} </p>
            <p> Min: {{ notes_trend.min }} </p>
        </div>
    </div>

{% endblock main%}
