{% extends 'index.html' %}

{%- block style -%}
    <link rel="stylesheet" href="{{ url_for('static', path='system/system.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Graphics', '/system/graphics'), ('Backup', '/system/backup'), ('Restore', '/system/restore')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}

{% if status == 'ok' %}
    <div class="alert success status">
        <p> Success! Restore was completed successfully.
            ({{ materials_count }} materials, {{ logs_count }} logs, {{ statuses_count }} statuses, {{ notes_count }} notes)
        </p>
    </div>
{% elif status == 'restore-failed' %}
    <div class="alert error status">
        <p> Error! Restore failed. </p>
    </div>
{% endif %}

{% endblock main%}
