{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='materials/completed.css') }}">
{% endblock style %}

{% block main %}
{% if statistics %}
    {% for ms in statistics | sort(attribute='completed') %}
    {% set material = ms.material %}
    {% set is_outlined = 'No' %}
    {%- if material.is_outlined -%}
        {% set is_outlined = 'Yes' %}
    {%- endif -%}
    <div class="material hover" onclick=openNotes("{{ material.material_id }}") title="Click to see notes">
        <p> Title: «{{ material.title }}» </p>
        <p> Author: {{ material.authors }} </p>
        {% set items = 'Pages' %}
        {% if material.material_type == 'lecture' %}
            {% set items = 'Minutes' %}
        {% elif material.material_type == 'course' %}
            {% set items = 'Lectures' %}
        {% endif %}
        <p> {{ items }}: {{ material.pages }} </p>
        <p> Type: {{ material.material_type.name }} </p>
        <p> Tags: {{ material.tags }} </p>
        <p> Link: {{ material.link or '-' }} </p>
        <p> Is outlined: {{ is_outlined }} </p>
        <hr title="Analytics">
        <p> Started at: {{ ms.started_at.strftime(DATE_FORMAT) }} </p>
        <p> Completed at: {{ ms.completed_at.strftime(DATE_FORMAT) }} </p>
        <p> Total duration: {{ ms.total_reading_duration }} </p> 
        <p> Notes count: {{ ms.notes_count }} notes </p>
        <p> Was being reading: {{ ms.duration }} days </p>
        <p> Lost time: {{ ms.lost_time }} days </p>
        <p> Average: {{ ms.average }} pages per day </p>
        {%- if ms.max_record and ms.min_record -%}
            <hr title="Min/max">
            <p> Max: {{ ms.max_record.count }} pages, {{ ms.max_record.date.strftime(DATE_FORMAT) }} </p>
            <p> Min: {{ ms.min_record.count }} pages, {{ ms.min_record.date.strftime(DATE_FORMAT) }} </p>
        {%- endif -%}

        {%- if not material.is_outlined -%}
            <form class="outline" action="/materials/outline/{{ material.material_id }}" METHOD="POST" title="Mark the material id={{ material.material_id }} as outlined">
                <button type="submit" class="submit-button"> Outline </button>
            </form>
        {%- endif  -%}
    </div>
    {% endfor %}

    {% from 'arrows.html' import arrows %}
    {% call arrows() %}
    {% endcall %}
{%- else -%}
    {% import 'errors/not_found.html' as not_found %}
    {% call not_found.not_found('completed materials') %} {% endcall %}
{% endif %}
{% endblock main%}
