{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', path='materials/queue.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Queue', '/materials/queue'), ('Add material', '/materials/add-view')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
{% if estimates %}
    {%- for estimate in estimates -%}
    {% set material = estimate.material %}
    <div class="material hover">
        <p> Title: «{{ material.title }}» </p>
        <p> Author: {{ material.authors }} </p>
        {% set items = 'Pages' %}
        {% if material.material_type == 'lecture' %}
            {% set items = 'Minutes' %}
        {% elif material.material_type == 'course' %}
            {% set items = 'Lectures' %}
        {% endif %}
        <p> {{ items }}: {{ material.pages }} </p>
        <p> Type: {{ material.material_type.name }} </p>
        {% if material.tags %}
            <p> Tags: {{ material.tags }} </p>
        {% endif %}
        <p> Link: {{ material.link or '-' }} </p>
        <hr/>
        <p> Will be started: {{ estimate.will_be_started.strftime(DATE_FORMAT) }} </p>
        <p> Will be completed: {{ estimate.will_be_completed.strftime(DATE_FORMAT) }} </p>
        <p> Expected duration: {{ estimate.expected_duration }} days </p>

        <form class="form start" action="/materials/start/{{ material.material_id }}" METHOD="POST" title="Start the material id={{ material.material_id }}">
            <button type="submit" class="submit-button"> Start </button>
        </form>
    </div>
    {% endfor %}

    {% from 'arrows.html' import arrows %}
    {% call arrows() %}
    {% endcall %}
{%- else -%}
    {% import 'errors/not_found.html' as not_found %}
    {% call not_found.not_found('materials') %} {% endcall %}
{% endif %}
{%- endblock main -%}
