{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='materials/repeating_queue.css') }}">
{% endblock style %}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Queue', '/materials/queue'), ('Reading', '/materials/reading'), ('Completed', '/materials/completed'), ('Repeat', '/materials/repeat-view'), ('Add material', '/materials/add-view')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
<div class="form">
    <form action="/materials/repeat-view" method="GET">
    <div class="outlined-checkbox">
        <input id="only_outlined" class="input" type="checkbox" name="only_outlined" {% if is_outlined %} checked {% endif %} placeholder="Choose a material">
        <label for="only_outlined"> Only outlined </label>
    </div>
        <button type="submit" class="submit-button"> Search </button>
    </form>
</div>
{% if repeating_queue %}
    {% for repeat in repeating_queue | sort(attribute='priority_months', reverse=True) %}
        {% set is_outlined = 'No' %}
        {%- if repeat.is_outlined -%}
            {% set is_outlined = 'Yes' %}
        {%- endif -%}

        {% set last_repeated_at = 'No' %}
        {%- if repeat.last_repeated_at -%}
            {% set last_repeated_at = repeat.last_repeated_at.strftime(DATE_FORMAT) %}
        {%- endif -%}
        <div class="repeat hover" onclick=openNotes("{{ repeat.material_id }}") title="Click to see notes">
            <p class="little-text"> {{ loop.index }} / {{ loop.length }}</p>
            <p> Title: «{{ repeat.title }}» </p>
            {% set items = 'Pages' %}
            {% if repeat.material_type == 'lecture' %}
                {% set items = 'Minutes' %}
            {% elif repeat.material_type == 'course' %}
                {% set items = 'Lectures' %}
            {% endif %}
            <p> {{ items }}: {{ repeat.pages }} </p>
            <p> Is outlined: {{ is_outlined }} </p>
            <hr title="Analytics">
            <p> Completed at: {{ repeat.completed_at.strftime(DATE_FORMAT) }} </p>
            <p> Notes count: {{ repeat.notes_count }} notes </p>
            <p> Repeats count: {{ repeat.repeats_count }} repeats </p>
            <p> Last repeated at: {{ last_repeated_at }} </p>
            <p> Priority: {{ repeat.priority_months }} </p>

            <form class="repeat" action="/materials/repeat/{{ repeat.material_id }}" METHOD="POST" title="Repeat the material" id={{ repeat.material_id }}">
                <button type="submit" class="submit-button celebrate-btn"> Repeat </button>
            </form>
        </div>
    {% endfor %}

    <script src="{{ url_for('static', path='js/celebrate.js')}}"></script>
    {% from 'arrows.html' import arrows %}
    {% call arrows() %}
    {% endcall %}
{%- else -%}
    {% import 'errors/not_found.html' as not_found %}
    {% call not_found.not_found('repeating queue') %} {% endcall %}
{% endif %}
{% endblock main%}
