.subnavbar {
	background-color: white;
	display: flex;
	float: right;
}

.subnavbar a {
	color: black;
	margin-top: 1vh;
    padding-right: 1.5vw;
}

#input-content {
	padding: 1vh;
	height: 20vh;
}

::-webkit-scrollbar {
  width: 0;
}