.submit-button {
    margin: 2vh auto 5vh;
}
.input {
    margin-bottom: 0.5vh;
}
.input::-webkit-calendar-picker-indicator {
    display: none;
}

div.note {
    border: black 0.25vh solid;
    margin: 2vh auto;
    width: 50vw;
    border-radius: 3vh;
    padding: 5vh;
}
div.note p {
    word-wrap: break-word;
}
