.submit-button {
    margin: 2vh auto 5vh;
}
.input::-webkit-calendar-picker-indicator {
    display: none;
}

div.group {
    display: flex;
    flex-direction: column;
}

.material_title {
    margin: auto;
}
.chapter_number {
    margin: 4vh auto 1vh;
}

.material_divider {
    color: black;
    background-color: black;
    margin-top: 8vh;
}

div.note {
    border: black 0.25vh solid;
    margin: 2vh auto;
    width: 50vw;
    border-radius: 3vh;
    padding: 5vh;
    text-align: center;
}
.note-page {
    font-size: 4vh;
    font-weight: 500;
}
div.note p {
    word-wrap: break-word;
}
