.subnavbar {
	background-color: white;
	display: flex;
	float: right;
}

.subnavbar a {
	color: black;
	margin-top: 1vh;
	padding-right: 1.5vw;
}

form {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin: 2vh auto;
}

div.note {
    border: black 0.25vh solid;
    margin: 2vh auto;
    width: 50vw;
    border-radius: 3vh;
    padding: 5vh;
}
div.note p {
    word-wrap: break-word;
}
