::-webkit-scrollbar {
    width: 0;
}

div.card {
    display: flex;
    margin: auto;
    border: black .3vh solid;
    border-radius: 2vh;
    padding: 2vh;
}
form.card {
    border: none;
}
div.results {
    margin-top: 5vh;
}
button.result-button {
    margin: auto auto auto 2vh;
    height: 4vw;
    width: 9vw;
    border: none;
    outline: none !important;
    background-color: black;
    color: white;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

p.question {
    font-size: 5vh;
    text-align: center;
}
p.answer {
    text-align: center;
    font-size: 3vh;
    word-wrap: break-word;
    max-width: 50vw;
    margin: 0;
}
p.note-answer {
    margin-top: 4vh;
}
p.material_title {
    text-align: center;
    font-size: 5vh;
    font-weight: 500;
    margin-top: 2vh;
    margin-bottom: 0;
    max-width: 50vw;
    word-wrap: break-word;
}
p.material_page {
    margin-top: 0;
    text-align: center;
    font-size: 4.5vh;
    font-weight: 500;
}
.alert.bad, .alert.tomorrow {
    background-color: #E74C3C;
}
.alert.good {
    background-color: #27AE60;
}
.alert.excellent {
    background-color: #373252;
}