html, body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: Roboto, 'Open Sans', sans-serif;
}

header {
	background-color: black;
}

nav.navbar {
	height: 15vh;
	display: flex;
	margin: auto;
}
nav.navbar a {
	text-decoration: none;
	color: white;
	margin: auto;
	font-size: 5vh;
}
nav.navbar a:hover {
	text-decoration: none;
    color: #004E7C;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 10vh auto;
}

footer {
	background-color: black;
	height: 50vh;
}