html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 1.7vh;
    color: black;
}

header {
    background-color: black;
}

.navbar {
    height: 15vh;
    display: flex;
    margin: auto;
}
nav a {
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 3.5vh;
}
nav a:hover {
    text-decoration: none;
    color: #004E7C;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    min-height: 20vh;
}

.hover:hover {
    box-shadow: 0 0 5vh rgba(33, 33, 33, .5);
    transition: box-shadow .2s ease-in-out;
}

/* styles for nav bars in inheritors */
.subnavbar {
    background-color: white;
    display: flex;
    float: right;
}

.subnavbar a {
    color: black;
    margin-top: 1vh;
    padding-right: 1.5vw;
}


/* styles for forms */
.form {
    font-size: 2.5vh;
    margin: 0 auto auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto auto 3vh;
}

.input {
    border: none;
    outline: none;
    height: 5vh;
    width: 40vw;
    padding-left: 0.5vw;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}
.input-datalist::-webkit-calendar-picker-indicator {
    display: none;
}

.submit-button {
    margin: auto;
    height: 5vh;
    width: 9vw;
    border: none;
    outline: none !important;
    background-color: black;
    color: white;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* not found message */
div.not-found {
    display: flex;
    margin: 7vh auto;
    border: black .3vh solid;
    border-radius: 2vh;
}
div.not-found p.message {
    padding: 15vh;
    margin: auto;
    font-size: 5vh;
    font-weight: 500;
}

/* styles for special symbols in notes, cards etc */
span.sub {
    vertical-align: sub;
}
span.sup {
    vertical-align: super;
}

span.font-italic {
    font-style: italic;
    padding: .05vw;
}
span.font-weight-bold {
    font-weight: 500;
}
span.font-code {
    background-color: #f6f8fa;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 1.2vh;
    border-radius: 3px;
    padding: .2vw;
}

/* styles for flash messages */
.alert {
    display: flex;
    margin: auto;
    text-align: center;
    padding: 2vw;
    border-radius: 1vw;
    border : 1px solid black;
}

.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.hide{
    display: none;
}

div.arrow-div {
    display: flex;
    margin: auto;
    position: sticky;
    background-color: white;
    bottom: 1rem;
    align-self: flex-end;
}
div.arrow-up {
    position: sticky;
    right: 1vw;
    bottom: 1rem;
    align-self: flex-end;
    padding: .5vh .5vw;
    border-radius: 6px;
    border: black 1px solid;
}
div.arrow-down {
    position: sticky;
    left: 1vw;
    bottom: 1rem;
    align-self: flex-start;
    padding: .5vh .5vw;
    border-radius: 6px;
    border: black 1px solid;
}
a.arrow-up, a.arrow-down {
    color: black;
    text-decoration: none;
    font-size: 3vh;
}

p.little-text {
    text-align: center;
    font-size: 1.75vh;
}

footer {
    background-color: black;
    height: 50vh;
}

celebrate {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #f1f1f1;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #111111;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover {
    background: #dedede;
}

.div-btn {
    cursor: pointer;
}