html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', sans-serif;
    color: black;
}

header {
    background-color: black;
}

.navbar {
    height: 15vh;
    display: flex;
    margin: auto;
}
nav a {
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 3.5vh;
}
nav a:hover {
    text-decoration: none;
    color: #004E7C;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    min-height: 20vh;
}

.hover:hover {
    box-shadow: 0 0 5vh rgba(33, 33, 33, .5);
    transition: box-shadow .2s ease-in-out;
}

/* styles for nav bars in inheritors */
.subnavbar {
    background-color: white;
    display: flex;
    float: right;
}

.subnavbar a {
    color: black;
    margin-top: 1vh;
    padding-right: 1.5vw;
}


/* styles for forms */
.form {
    font-size: 2.5vh;
    margin: 0 auto auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto auto 3vh;
}

.input {
    border: none;
    outline: none;
    height: 3vw;
    width: 40vw;
    padding-left: 0.5vw;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

.submit-button {
    margin: auto;
    height: 3vw;
    width: 9vw;
    border: none;
    outline: none !important;
    background-color: black;
    color: white;
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* styles for flash messages */
.alert {
    text-align: center;
    width: 30vw;
    background-color: #373252;
    color: white;
    border: none;
    padding: 0.5vw;
    border-radius: 0.4vw;
    margin: 0.5vh auto 1vw;
}

.error {
    background-color: #E74C3C;
}

.success {
    background-color: #27AE60;
}

footer {
    background-color: black;
    height: 50vh;
}
