{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='add_log_record.css') }}">
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Reading log', '/reading_log'), ('Add log record', '/reading_log/add')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
{% if titles %}
    <div class="form">
        <form action="/reading_log/add" method="POST">
            <fieldset class="log-record-fieldset">
            <legend class="log-record-legend"> Add a log record </legend>
            <input class="input input-datalist" type="number" list="books" placeholder="Choose a material" name="material_id" value="{{ material_id }}" title="ID of the material">
            <datalist id="books">
                {% for material_id, title in titles.items() %}
                <option value="{{ material_id }}"> «{{ title }}»
                    {% endfor %}
            </datalist>

            <input class="input" type="date" placeholder="Enter the date" name="date" value="{{ date }}" title="Date of the record">
            <input class="input" type="number" placeholder="Enter a count of pages" name="count" title="Count of read pages">
            <button type="submit" class="submit-button"> Add </button>
            </fieldset>
        </form>
    </div>
{%- else -%}
    {% import 'not_found.html' as not_found %}
    {% call not_found.not_found('reading materials') %} {% endcall %}
{% endif %}
{% endblock main %}
