{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_card.css') }}">
<script src="{{ url_for('static', filename='js/add_card.js') }}"> </script>
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Repeat', '/recall'), ('Add card', '/recall/add')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
{% if notes %}
    <div class="notes">
        <h3 class="search-notes-label"> Search notes </h3>
        {% if material_id %}
            <h3 class="material-title"> «{{ titles[material_id|int] }}» </h3>
        {% endif %}
        <ul class="notes">
            {% for note_id, note in notes|dictsort %}
            <li class="note hover" onclick="chooseNote({{ note_id }}, {{ note.material_id }})" title="Click to choose this note">
                <p class="note-content"> {{ note.content }}</p>
                <p class="note-page"> Page: {{ note.page }} </p>
                <p class="note-id"> ID: {{ note.id }} </p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="form">
        <form action="/recall/add" method="GET">
            <input class="input" type="number" list="materials" placeholder="Choose a material" name="material_id" value="{{ material_id }}" title="ID of the material">
            <datalist id="materials">
                {% for material_id, title in titles|dictsort %}
                <option value="{{ material_id }}"> «{{ title }}»
                    {% endfor %}
            </datalist>

            <button type="submit" class="submit-button"> Search </button>
        </form>

        <form action="/recall/add" method="POST">
            <input class="input input-datalist" id="material_id" list="materials" type="number" placeholder="Choose a material" name="material_id" value="{{ material_id }}" title="ID of the material">
            <input class="input input-datalist" id="note_id" type="number" list="notes" placeholder="Choose a note" name="note_id" value="{{ note_id }}">
            <datalist id="notes">
                {% for note_id, note in notes|dictsort %}
                    <option value="{{ note_id }}"> {{ note.content }}
                {% endfor %}
            </datalist>

            <textarea class="input altch" id="input-question" placeholder="Enter a question" name="question">{{ question }}</textarea>
            <textarea class="input altch" id="input-answer" placeholder="Enter an answer (optional)" name="answer" title="Text of the note">{{ answer }}</textarea>
            <button type="submit" class="submit-button"> Add </button>
        </form>
    </div>
{%- else -%}
    {%- import 'not_found.html' as not_found -%}
    {% call not_found.not_found('notes') %} {% endcall %}
{%- endif -%}
{% endblock main %}
