{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', path='cards_list.css') }}">
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Cards list', '/cards/list'), ('Add card', '/cards/add-view')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
{%- if cards -%}
    <p class="total-cards"> Total {{ total }} cards </p>
    {% for card in cards|sort(attribute="card.added_at",reverse=true) %}
        <div class="card hover" id="card-{{ card.card.card_id }}">
            <p class="question"> {{ card.card.question }} </p>
            <p class="txt card-id"> Card ID: {{ card.card.card_id }} </p>
            <hr class="question-divider"/>
            <details class="answer">
                <summary class="answer"> Show answer </summary>
                {%- if card.card.answer -%}
                <p class="answer">{{ card.card.answer }}</p>
                {%- endif -%}
                <p class="answer note-answer"> {{ card.note.content }} </p>
                <p class="txt material-title"> «{{ card.note.material_title }}» </p>
                <p class="txt material-page"> Page: {{ card.note.page }} </p>
                <p class="txt note-id"> Note ID: {{ card.note.note_id }} </p>
            </details>
        </div>
    {% endfor %}
{%- else -%}
    {% import 'not_found.html' as not_found %}
    {% call not_found.not_found('cards') %} {% endcall %}
{% endif %}
{% endblock main %}
