<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block style %} {% endblock style %}
</head>
<body>
<header>
    <nav>
        <a href="/get_queue"> Queue </a>
        <a href="/get_reading_materials"> Reading materials </a>
        <a href="/get_completed_materials"> Completed materials </a>
        <a href="/get_reading_log"> Reading log </a>
        <a href="/get_notes"> Notes </a>
    </nav>
</header>

<main> {% block main %} {% endblock main %} </main>

<footer> {% block footer %} {% endblock footer %} </footer>
</body>
</html>
