{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', filename='notes.css') }}">
{%- endblock style -%}

{%- block header -%}
<nav class="subnavbar">
    <a href="/notes"> Search notes </a>
    <a href="/notes/add"> Add note </a>
</nav>
{%- endblock header -%}

{% block main %}
<div class="form">
    <form action="/notes" method="GET">
        <input type="number" class="input" list="books" name="material_id" placeholder="Choose a material">
        <datalist id="books">
          {% for material_id, title in titles.items() %}
              <option value="{{ material_id }}"> «{{ title }}»
          {% endfor %}
      </datalist>
      <button type="submit" class="submit-button"> Search </button>
    </form>
</div>

{% for note in notes %}
{%- set id = note.material_id -%}
<div class="note hover">
    <p> Content: {{ note.content }}</p>
    <p> Material: «{{ titles[id] }}» </p>
    <p> Page: {{ note.page }} </p>
</div>
{% endfor -%}
{% endblock main %}