{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', path='notes.css') }}">
<script src="{{ url_for('static', path='js/notes.js')}}"></script>
{%- endblock style -%}

{%- block header -%}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view')) %}
    {% endcall %}
{%- endblock header -%}

{% block main %}
{% if titles %}
    <div class="form">
        <form action="/notes" method="GET">
            <input class="input" list="books" name="material_id" placeholder="Choose a material">
            <datalist id="books">
              {% for material_id, title in titles | dictsort(by='value') %}
                  <option value="{{ material_id }}"> «{{ title }}»
              {% endfor %}
          </datalist>
          <button type="submit" class="submit-button"> Search </button>
        </form>
    </div>
{% endif %}

{% if chapters %}
    <div class="menu">
    <details class="menu">
        <summary> Menu </summary>
        <div class="menu-items">
        {% for material_id, chapters in chapters | dictsort %}
            <div class="material-link">
            <details open class="chapters">
                <summary> <a class="title-link" href="#material-{{ material_id }}"> «{{ titles[material_id] }}» </a> </summary>
                <div class="chapters">
                    {% for chapter in chapters | sort %}
                        <a class="chapter-link" href="#material-{{ material_id }}-chapter-{{ chapter }}"> Chapter {{ chapter }} </a>
                    {% endfor %}
                </div>
            </details>
            </div>
        {% endfor %}
        </div>
    </details>
    </div>
{% endif %}

{% if notes %}
    {% for material_id, notes_m in notes | sort(attribute='page') | groupby('material_id') %}
    {% if not loop.first %}
        <hr class="material_divider">
    {% endif %}

    <div class="group">
        <h3 class="material_title" id="material-{{material_id}}"> «{{ titles[material_id] }}» ({{ notes_m | length }})</h3>

        {% for chapter, note_c in notes_m | groupby('chapter') %}
            <h4 class="chapter_number" id="material-{{material_id}}-chapter-{{chapter}}"> Chapter: {{ chapter }} </h4>
            {% for note in note_c %}
            <div class="note hover" onclick=openNote("{{ note.note_id }}")>
                <p class="note-content"> {{ note.content | safe }} </p>
                <p class="note-page"> Page: {{ note.page }} </p>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endfor -%}
{%- else -%}
    {% import 'not_found.html' as not_found %}
    {% call not_found.not_found('notes') %} {% endcall %}
{% endif %}
{% endblock main %}
