{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
{%- endblock style -%}

{%- block header -%}
<nav class="subnavbar">
    <a href="/materials/queue"> Queue </a>
    <a href="/materials/add"> Add material </a>
</nav>
{%- endblock header -%}

{% block main %}
{%- for estimate in estimates -%}
{% set material = estimate.material %}
<div class="material hover">
    <p> id: {{ material.material_id }} </p>
    <p> Title: «{{ material.title }}» </p>
    <p> Author: {{ material.authors }} </p>
    <p> Pages: {{ material.pages }} </p>
    <p> Tags:  {{ material.tags }} </p>
    <p> Will be started: {{ estimate.will_be_started.strftime(DATE_FORMAT) }} </p>
    <p> Will be completed: {{ estimate.will_be_completed.strftime(DATE_FORMAT) }} </p>
    <p> Expected duration: {{ estimate.expected_duration }} days </p>

    <form class="form start" action="/materials/start/{{ material.material_id }}" METHOD="POST" title="Start the material id={{ material.material_id }}">
        <button type="submit" class="submit-button"> Start </button>
    </form>
</div>
{% endfor %}
{%- endblock main -%}
