{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='reading_log.css') }}">
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Reading log', '/reading_log'), ('Add log record', '/reading_log/add-view')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
{% if log %}
    {% for date, info in log | dictsort(reverse=True) %}
        {% set count = info.count %}
        {% if count >= EXPECTED_COUNT %}
            <div class="record good">
        {% else %}
            <div class="record bad">
        {% endif %}

        <p> Date: {{ date.strftime(DATE_FORMAT) }} </p>
        <p> Title: «{{ info.material_title }}» </p>
        <p> Count: {{ info.count }}</p>
    </div>
    {% endfor %}
{%- else -%}
    {% import 'not_found.html' as not_found %}
    {% call not_found.not_found('log records') %} {% endcall %}
{% endif %}
{% endblock main %}
