{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='reading_log.css') }}">
{% endblock style %}

{% block header %}
<nav class="subnavbar">
    <a href="/reading_log"> Reading log </a>
    <a href="/reading_log/add"> Add log record </a>
</nav>
{% endblock header %}

{% block main %}
{% for date, info in log.items() %}
    {% set count = info.count %}
    {% if count >= EXPECTED_COUNT %}
        <div class="record good">
    {% else %}
        <div class="record bad">
    {% endif %}

    <p> Date: {{ date.strftime(DATE_FORMAT) }} </p>
    <p> Title: «{{ info.material_title }}» </p>
    <p> Count: {{ info.count }}</p>
</div>
{% endfor %}

{% endblock main%}