{% extends 'index.html' %}

{%- block style -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='reading.css') }}">
{%- endblock style -%}

{% block main %}

{% for ms in statistics %}
{%- set material = ms.material -%}
<div class="material hover" onclick=openNotes({{ material.material_id }}) title="Click to see notes">
    <p> Title: «{{ material.title }}» </p>
    <p> Author: {{ material.authors }} </p>
    <p> Pages: {{ material.pages }} </p>
    <p> Tags:  {{ material.tags }} </p>
    <hr title="Analytics">
    <p> Started at: {{ ms.started.strftime(DATE_FORMAT) }} </p>
    <p> Is being reading: {{ ms.duration }} days </p>
    <p> Total pages read: {{ ms.total }} </p>
    <p> Average: {{ ms.average }} pages per day </p>
    <p> Lost time: {{ ms.lost_time }} days </p>
    <hr title="Remains">
    <p> Remaining pages: {{ ms.remaining_pages }} </p>
    <p> Remaining days: {{ ms.remaining_days }} </p>
    <p> Would be completed: {{ ms.would_be_completed.strftime(DATE_FORMAT) }} </p>
    <hr title="Min/max">
    <p> Max: {{ ms.max.count }} pages, {{ ms.max.date.strftime(DATE_FORMAT) }} </p>
    <p> Min: {{ ms.min.count }} pages, {{ ms.min.date.strftime(DATE_FORMAT) }} </p>

    <form class="complete" action="/materials/complete/{{ material.material_id }}" METHOD="POST" title="Complete the material id={{ material.material_id }}">
        <button type="submit" class="submit-button"> Complete </button>
    </form>
</div>
{% endfor %}

{% endblock main%}
