{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', filename='recall.css') }}">
{%- endblock style -%}

{%- block header -%}
<nav class="subnavbar">
    <a href="/recall"> Repeat </a>
    <a href="/recall/add"> Add card </a>
</nav>
{%- endblock header -%}

{% block main %}
<div class="card">
    <form class="card" action="/recall/{{ card.id }}" method="POST">
        <p class="question"> {{ card.question }} </p>
        <div class="answers">
            <button class="tomorrow" name="tomorrow" value="tomorrow"> Tomorrow </button>
            <button class="bad" name="bad" value="bad"> {{ card.bad }} </button>
            <button class="good" name="good" value="good"> {{ card.good }} </button>
            <button class="excellent" name="excellent" value="excellent"> {{ card.excellent }} </button>
            <button class="d10" name="d10" value="d10"> Before 10 days </button>
        </div>
    </form>
</div>
{% endblock main %}
