{% extends 'index.html' %}

{%- block style -%}
<link rel="stylesheet" href="{{ url_for('static', filename='recall.css') }}">
{%- endblock style -%}

{%- block header -%}
<nav class="subnavbar">
    <a href="/recall"> Repeat </a>
    <a href="/recall/add"> Add card </a>
</nav>
{%- endblock header -%}

{% block main %}
<p class="remains"> Remains {{ remains }} cards</p>

<div class="card">
    <p class="question"> {{ card.card.question }} </p>
    <details class="answer">
        <summary class="answer"> Show answer </summary>
        {%- if card.card.answer -%}
            <p class="answer">
                {{ card.card.answer }}`
            </p>
        {%- endif -%}
        <p class="answer note-answer">
            {{ card.note.content }}
        </p>
        <p class="material_title"> «{{ titles[card.note.material_id] }}» </p>
        <p class="material_page"> Page: {{ card.note.page }} </p>
    </details>

    <form class="card" action="/recall/{{ card.card.id }}" method="POST">
        <div class="results">
            <button class="result-button tomorrow" name="result" value="tomorrow"> Tomorrow </button>
            <button class="result-button bad" name="result" value="bad"> {{ card.bad }} days </button>
            <button class="result-button good" name="result" value="good"> {{ card.good }} days </button>
            <button class="result-button excellent" name="result" value="excellent"> {{ card.excellent }} days </button>
            <button class="result-button d10" name="result" value="d10"> 10 days </button>
        </div>
    </form>
</div>
{% endblock main %}
