{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', path='add_note.css') }}">
{% endblock style %}

{% block header %}
    {% from 'submenu.html' import submenu %}
    {% call submenu(('Search notes', '/notes'), ('Add note', '/notes/add-view')) %}
    {% endcall %}
{% endblock header %}

{% block main %}
<div class="form">
    <form action="/notes/update" method="POST">
        <fieldset class="add-note-fieldset">
        <legend class="add-note-legend"> Update note </legend>
        <input class="input input-datalist" name="material_id" value="{{ material_id }}" title="ID of the material">
        <input class="input input-datalist" name="note_id" value="{{ note_id }}" title="ID of the note">
        <textarea class="input altch" id="input-content" placeholder="Enter a content" name="content" title="Text of the note">{{ content }}</textarea>
        <input class="input" type="number" placeholder="Enter a chapter number" name="chapter" value="{{ chapter }}" title="Chapter where the note might be found">
        <input class="input" type="number" placeholder="Enter a page number" name="page" value="{{ page }}" title="Page where the not might be found">
        <button type="submit" class="submit-button"> Save </button>
    </fieldset>
    </form>
</div>
{% endblock main %}
