div.graphic-image {
    display: flex;
    margin: auto;
    flex-direction: column;
}

div.statistics {
    display: flex;
    margin: auto;
    flex-direction: column;
}

div.status {
    display: flex;
    margin: auto;
}

div.status > p {
    margin: auto;
}